/*  General Styles  */
body{
    font-family: 'Lato', sans-serif;
}
ul{
    list-style: none;
}

/* Removes link dotting when clicked */
a{
    outline: 0 !important;
}
/* Removes link dotting when clicked */

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.flex-div{
    display: flex;
    align-items: center;
}

/*  Navigation style    */
nav{
    background: #fff;
    border: 1px solid #333;
    color: #222;
    height: 100%;
    padding-left: 20px;
    position: fixed;
    right: 0;
    text-align: left;
    transition: all .3s;
    width: 400px;
    z-index: 10;
}

/* Navigation open and closing styles */
.nav-closed{
    margin-right: -1000px;
}
.nav-open{
    margin-right: 0;
}
/* Navigation open and closing styles */

/* Navigation logo style */
nav img{
    width:80%;
}
/* Navigation logo style */

/* Navigation operating button style */
.nav-control{
    background: #000;
    border-radius: 0 0 0 20px;
    color: #fff;
    font-size: 2em;
    padding: 5px 10px 5px 20px;
    position: fixed;
    right: 0;
    top: 0;
    transition: all .3s;
    z-index: 11;
}
.nav-control:focus{
    background: #000; ;
    color: #fff;
}
.nav-control:hover,
.nav-control:active{
    background: #67F300;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 0 10px #fff;
}
/* Navigation operating button style */

/* Navigation links style*/
.nav-body li{
    padding: 5px;
}
.nav-body li a{
    color: #222;
    font-size: 1.5em;
    text-decoration: none;
}
.nav-body li a:focus{
    color: #222;
}
.nav-body li a:hover,
.nav-body li a:active{
    color: #67F300;
}
/* Navigation links style*/

/*  Home Style    */
#home img{
    height: 650px;
    margin: 50px 5%;
    padding-bottom: 3%;
    width: 90%;
}
/*  Home Style    */

/*  Packages style*/
#packages{
    background: #999;
    box-shadow: 5px 5px 12px 1px #222;
    padding: 10px 0 25px;
}
#packages h1{
    color: #222;
    padding-bottom: 30px;
    text-align: center;
}
#packages .main-buttons{
    text-align:center;
}
#packages .main-buttons button{
    background: #eee;
    border: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #222;
    color: #000;
    padding: 10px 10px;
    text-align:center;
    transition: all .3s;
    width: 70%;
}
#packages .main-buttons button:hover{
    background: #5EEF00;
    color: #fff;
    padding: 10px 10px;
    text-align:center;
}

/* Font-awesome icons style */
.fa-lightbulb-o{
    color: yellow;
    transition: all .3s;
}
.fa-gift{
    color: red;
    transition: all .3s;
}
#packages .main-buttons button:hover .fa-lightbulb-o,
#packages .main-buttons button:hover .fa-gift{
    color: #fff;
}
/* Font-awesome icons style */

/* Terminology block style */
#packages .terminology{
    background: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 12px 1px #222;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 90%;
}
#packages .terminology-cover{
    margin: 10px 5% 25px;
    max-height: 800px;
    overflow: hidden;
    padding: 20px;
    transition: all .5s ease-out;
}
#packages .terminology h2{
    border-radius: 15px;
    box-shadow: 8px 4px 15px #222 inset;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
}
#packages .terminology .terms-heading{
    margin: 10px 0 0;
}
#packages .terminology .terms-heading .col-md-2{
    border-bottom: 1px solid #222;
    border-radius: 15px;
    border-right: 1px solid #222;
    border-top: 1px solid #222;
}
#packages .terminology .terms-heading .col-md-8{
    border-bottom: 1px solid #222;
    border-left: 1px solid #222;
    border-radius: 15px;
    border-top: 1px solid #222;
}
#packages .terminology .terminology-item{
    display: inline-block;
    margin: 10px 0;
}
#packages .terminology .terminology-item h3{
    padding: 10px 20px;
    text-align: center;
}
#packages .terminology .terminology-item h4{
    padding: 10px 20px;
    text-align: left;
}
/* Terminology block style */

/* Packages sorting block style */
#packages .packages-sort{
    background: #ddd;
    border-radius: 15px;
    box-shadow: 5px 5px 12px 1px #222;
    margin-left: 20%;
    overflow: hidden;
    padding: 20px 20px 50px;
    position: relative;
    text-align: center;
    transition: all .5s ease-out;
    width: 60%;
}
#packages .packages-sort-cover{
    margin: 10px 5% 25px;
    max-height: 800px;
    overflow: hidden;
    padding: 20px;
    transition: all .5s ease-out;
}
#packages .packages-sort h2{
    background: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 12px #222;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
}

#packages .package-sort-button{
    border: 1px solid #0094FF;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    width: 120px;
}
#packages .package-sort-button:hover{
    background: #0094FF;
}
#packages .active{
    background: #62F100;
    border: 1px solid #0094FF;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    width: 120px;
}
#packages .disabled{
    border: 1px solid #999;
    color: #999999;
    cursor: not-allowed;
}
#packages .disabled:hover{
    background: #fff;
    color: #999999;
}
#packages .left-button{
    margin-right: -5px;
}
#packages .package-sort-button-search{
    background: #0094FF;
    border: 1px solid #0094FF;
    border-radius: 15px;
    box-shadow: 5px 5px 12px #222;
    color: #222;
    font-size: 20px;
    margin-top: 20px;
    padding: 5px 10px;
    transition: all .3s;
}
#packages .package-sort-button-search:hover{
    background: #62F100;
    border: 1px solid #0094FF;
    color: #fff;
}
/* Packages sorting block style */

/* Internet Packages style */
#packages .internet-package{
    background: #fff;
    border-radius: 35px;
    box-shadow: 5px 5px 12px 1px #222;
    margin: 0 0 20px;
    padding: 0 15px 20px;
    width: 95%;
}
#packages .internet-package .head{
    border-radius: 35px 35px 0 0;
    padding-bottom: 25px;
    position: relative;
}
#packages .internet-package .head .top-half{
    background: #0094FF;
    border-radius: 35px 35px 0 0;
    color: #333;
    height: 100px;
}
#packages .internet-package .head .top-half .circle-image{
    background: #fff;
    border-radius: 30px 0 30px 0;
    color: #333;
    padding: 20px;
    position: absolute;
}
#packages .internet-package .head .top-half .circle-image .fa:hover{
    cursor: pointer;
}

#packages .internet-package .head .bottom-half{
    text-align: center;
}
#packages .internet-package .head .bottom-half .circle{
    background: #fff;
    border: 5px solid #0094FF;
    border-radius: 100%;
    color: #000;
    display: block;
    height: 100px;
    margin-left: 35%;
    margin-top: -50px;
    padding: 20px 10px;
    width: 100px;
}
#packages .internet-package .head .bottom-half .circle h4{
    font-family: 'Coming Soon', cursive;
    font-size: 1.5em;
}
#packages .internet-package h3,
#packages .internet-package h4{
    text-align: center;
}
/* Internet Packages style */

/* packages container Style */
#packages .packages{
    margin: 0 5%;
    max-height: 1000px;
    transition: all .4s ease-out;
    width: 90%;
}
#packages .closed{
    max-height: 0;
    overflow: hidden;
    padding: 0;
}
.close-button{
    background: #000;
    border-radius: 0 10px 0 10px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    right:0;
    top: 0;
    transition: all .3s;
}
.close-button:hover{
    background: #68F300;
    color: #000;
    cursor: pointer;
}
#packages .packages .prev-button,
#packages .packages .next-button{
    color: #222;
    display: block !important;
    font-size: 45px;
    padding: 5px 12px;
    position: absolute;
    top: 45%;
    transition: all .3s;
}
#packages .packages .prev-button{
    left: -60px;
}
#packages .packages .next-button{
    right: -60px;
}
#packages .packages .prev-button:hover,
#packages .packages .next-button:hover{
    color: #0094FF;
    cursor: pointer;
}
#packages .closed .prev-button,
#packages .closed .next-button{
    display: none !important;
}
/* packages container Style */

/*  Clients styles*/
#clients .container-fluid{
    margin: 25px 0;
    padding: 0;
}
#clients .client-box{
    border-radius: 15px;
    box-shadow: 5px 5px 15px #222 inset;
}
#clients .client-box h1{
    text-align: center;
}
#clients .client-logo{
    padding: 2px 10px;
    width: 100%;
}
/*  Clients styles*/

/*  Contact styles  */
#contact{
    padding-bottom: 30px;
}
#contact h1{
    text-align: center;
}
#contact ul li h4{
    display: inline-block;
}
/*  Contact styles  */

/*  Map Styling */
#gmap_size{
    border-radius: 15px;
    box-shadow: 5px 5px 10px #222;
}

#gmap_canvas img{
    background: 0 0!important;
    max-width: none!important;
}
